
/*
#question
{
    background-color: blueviolet;
    margin: 28%;
    margin-top: 5%;
}



#col a
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#col
{
    height: 100px;
    width: 120px;
    padding-top: 10px;
}

#col2
{
   width: 100%;
   
   padding-top: 6px;
    /* display: flex;
    justify-content: center;
    align-items: center;

}

 */

 .card
 {
    margin: 40%;
    margin-top: 5%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: darkcyan;
 }

 input[type=button]
 {
    padding: 10px;
    padding-top: 7px;
    background-color: lightslategrey;

 }

 .row col
 {
    padding: 10px;
 }

 #inpbox
 {
   text-align: right;
   height: 60px;
   background-color: black;
   color: white;
 }





